<h1>New image</h1>
<%= form_with scope: :image, url: album_images_path, local: true do |form| %>
    <% form.multipart %>
    <div class="form-group">
      <%= form.label :source %>
      <%= form.file_field :source, id: :source, class: 'form-control-file' %>
    </div>
    <%= form.submit 'Save', class: 'btn btn-primary' %>
<% end %>

