<h1>About</h1>
<h2>Group information</h2>
<table class="table table-responsive">
  <thead>
  <tr>
    <th>MSSV</th>
    <th>Họ và tên</th>
    <th>Ảnh đại diện</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="align-middle">1312620</td>
    <td class="align-middle">Đặng Anh Triết</td>
    <td><img class="about-avatar" src="/uploads/avatar/1312620.jpg" alt="Triết đẹp trai"></td>
  </tr>
  <tr>
    <td class="align-middle">1312613</td>
    <td class="align-middle">Cao Thái Toại</td>
    <td><img class="about-avatar" src="/uploads/avatar/1312613.jpg" alt="Toại chó"></td>
  </tr>
  </tbody>

</table>

<h2>Map</h2>
<div id="map"></div>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMgOTlx7HAZITnwUP_qYZmBiVhxCTt7Bc&callback=initMap">
</script>